
<div class="giftIdeas">

  <h2>Find the perfect gift</h2>
  <div class="container-fluid" >
    <div class="col">
      <a href="#" class="perfectGift"><img class="imgGiftIdeas"  src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/FathersDay21/FDay21_Circle_image._CB667637600_._SR80,80_.jpg" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/categories/gc_gf_circle_300x300._CB409423739_._SR80,80_.jpg" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/handmade_circleimage._CB431869637_._SR80,80_.png" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/womenmade_circleimage._CB431851133_._SR80,80_.png" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/women_1._CB464459415_._SR80,80_.png" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/men1._CB464473251_._SR80,80_.png" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/kids_2._CB464459412_._SR80,80_.png" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/wedding_1._CB464459414_._SR80,80_.png" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/anniversary_1._CB464459415_._SR80,80_.png" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/housewarming_1._CB464459415_._SR80,80_.png" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/img19/events/valentinesday/circleimages/Valentines_circleimages_under_30._CB459024968_._SR80,80_.png" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/IN/Local_Shops_Gift_Page._CB402895950_._SR80,80_.jpg" alt=""></a>
      <a href="#" class="perfectGift"><img class="imgGiftIdeas" src="https://images-na.ssl-images-amazon.com/images/G/01/gcx/gf/categories/eBooks-IN._CB412348829_._SR80,80_.jpg" alt=""></a>

    </div>
  </div>
</div>


<!-- <div class="giftForEveryone">
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
</div> -->

<div class="giftForEveryone">

  <div class="container">
    <div class="row">
      <h2>Gifts for everyone</h2>
      <div class="col-md-3 border">
<a href="#"> <img src="https://m.media-amazon.com/images/I/41VDS6f7C3L._AC_SY164_.jpg" alt="image is not support">
<h6> how to stop worrying and start living </h6>
15.00
</a>
      </div>
      <div class="col-md-3 border">
        <a href="#"> <img src="https://m.media-amazon.com/images/I/41sPzpGDZHS._AC_SY164_.jpg" alt="image is not support">
        <h6> women banarasi Linen saree with blouse piece </h6>
        239.00
        </a>
              </div>
              <div class="col-md-3 border">
                <a href="#"> <img src="https://m.media-amazon.com/images/I/51mzeLvyUAL._AC_SY164_.jpg" alt="image is not support">
                <h6> two moustaches brass shubh labh Door  </h6>
                605.00
                </a>
                      </div>
                      <div class="col-md-3 border">
                        <a href="#"> <img src="https://m.media-amazon.com/images/I/518rmseQauL._AC_SY164_.jpg" alt="image is not support">
                        <h6> world greatest scientists & Inventors  </h6>
                        99.00
                        </a>
                              </div>
    </div>
  </div>
</div>



<div class="giftForEveryone1">

  <div class="container">
    <div class="row">
      <div class="col-md-3 border">
<a href="#"> <img src="https://m.media-amazon.com/images/I/51Rtl7nJYGL._AC_SY164_.jpg" alt="image is not support">
<h6> Ramposh Glass Vintage beer Mug 1 price Clear 500 ml </h6>
571.00
</a>
      </div>
      <div class="col-md-3 border">
        <a href="#"> <img src="https://m.media-amazon.com/images/I/51jwt43U0CL._AC_SY164_.jpg" alt="image is not support">
        <h6> Sukkhi  Elegant Gold platd Designer Floral Rakhi  </h6>
        232.00
        </a>
              </div>
              <div class="col-md-3 border">
                <a href="#"> <img src="https://m.media-amazon.com/images/I/516-E6GewGL._AC_SY164_.jpg" alt="image is not support">
                <h6> Styledose Branded AnalogueBlack Dial Magnet Watch with Gift bracelet for women  </h6>
                299.00
                </a>
                      </div>
                      <div class="col-md-3 border">
                        <a href="#"> <img src="https://m.media-amazon.com/images/I/51+v9Ye7pUL._AC_SY164_.jpg" alt="image is not support">
                        <h6> Hammonds Flycatcher Men's Leather laptop Messenger Beg</h6>
                        1,939.00
                        </a>
                              </div>
    </div>
  </div>
</div>




<div class="giftForEveryone1">

  <div class="container">
    <div class="row">
      <div class="col-md-3 border">
<a href="#"> <img src="https://m.media-amazon.com/images/I/41U1InQABwL._AC_SY164_.jpg" alt="image is not support">
<h6>Strauss Adjustable Hand grip Strengthener </h6>
224.00
</a>
      </div>
      <div class="col-md-3 border">
        <a href="#"> <img src="https://m.media-amazon.com/images/I/41cVgYgAKpL._AC_SY164_.jpg" alt="image is not support">
        <h6>Pigeon Plastic Mini Handy  </h6>
        226.00
        </a>
              </div>
              <div class="col-md-3 border">
                <a href="#"> <img src="https://m.media-amazon.com/images/I/41qwBtRyuSS._AC_SY164_.jpg" alt="image is not support">
                <h6> Cadbury Dairy Milk Silk Pralines chocolate Gift Box </h6>
                468.00
                </a>
                      </div>
                      <div class="col-md-3 border">
                        <a href="#"> <img src="https://m.media-amazon.com/images/I/41GnY7qzHwL._AC_SY164_.jpg" alt="image is not support">
                        <h6>Pure Sourse india Porcelain Relaxing Fragrance Aroma Set </h6>
                        371.00
                        </a>
                              </div>
    </div>
  </div>
</div>





<div class="giftForEveryone1">

  <div class="container">
    <div class="row">
      <div class="col-md-3 border">
<a href="#"> <img src="https://m.media-amazon.com/images/I/41Vf3Ou0pQL._AC_SY164_.jpg" alt="image is not support">
<h6>Centy toys Plastic Pull Back Auto Rickshaw Number Of Pieces </h6>
136.00
</a>
      </div>
      <div class="col-md-3 border">
        <a href="#"> <img src="https://m.media-amazon.com/images/I/41PTupKbT4L._AC_SY164_.jpg" alt="image is not support">
        <h6>  Manogyam Professional DTTRB 01 highly Elastic Steel  </h6>
        299.00
        </a>
              </div>
              <div class="col-md-3 border">
                <a href="#"> <img src="https://m.media-amazon.com/images/I/41Ys1wuqTxL._AC_SY164_.jpg" alt="image is not support">
                <h6> Lorenz Analogue Men's watch  </h6>
                299.00
                </a>
                      </div>
                      <div class="col-md-3 border">
                        <a href="#"> <img src="https://m.media-amazon.com/images/I/51aH2-gQ8ML._AC_SY164_.jpg" alt="image is not support">
                        <h6> Yellow chimes Crystals from Swarovski classic Designer</h6>
                        225.00
                        </a>
                              </div>
    </div>
  </div>
</div>
