
<div class="carousel">

  <h4 class="blockBuster">Blockbuster deals <span class="seeAllDeals"> <a href="#">see all deals</a> </span></h4>
  <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
          <h4 class="p-mb-1" style="font-size: 17px;">{{product.name}}</h4>
          <h6 class="p-mt-0 p-mb-3">{{product.price}}</h6>
          <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>

</div>

<div class="carousel">
  <h4 class="blockBuster"> Starting ₹399 | Supplements & multivitamins  </h4>
  <p-carousel [value]="productsData" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
          <h4 class="p-mb-1" style="font-size: 17px;">{{product.name}}</h4>
          <h6 class="p-mt-0 p-mb-3">{{product.price}}</h6>
          <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>

</div>

<div class="carousel">
  <h4 class="blockBuster">Up to 80% off | Home, kitchen & sports <span class="seeAllDeals"> <a href="">see all offers</a> </span> </h4>
  <p-carousel [value]="productsSnack" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
          <h4 class="p-mb-1" style="font-size: 17px;">{{product.name}}</h4>
          <h6 class="p-mt-0 p-mb-3">{{product.price}}</h6>
          <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>

</div>

<div class="carousel">
  <div class="container-fluid cardAll">
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngFor=" let cardLinkImg of cardLinkAll">
      <div class="col-md-3">
        <div class="card h-100 kitchen" >
          <h5>Up to 80% off | Home, kitchen & sports</h5>
  <!-- two card start -->
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink}}" class="card-img-top" alt="...">
              kitchen & home appliances    </a>

      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink1}}" class="card-img-top" alt="...">
                  Home decor </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
      <a href="" class="latest">  <img src="{{cardLinkImg.cardLink2}}" class="card-img-top" alt="...">
            cookware & dining</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink3}}" class="card-img-top" alt="...">
                  Sports & fitness </a>
      </div>
    </div>
    <a href="" class="latest">see all deals</a>
  </div>
  <!-- two card end -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 kitchen">
  <!-- two card start -->
  <h5>Up to 70% off | Latest styles for women</h5>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink4}}" class="card-img-top" alt="...">
        Echo Dot combo | ₹2,549
           </a>

      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink5}}" class="card-img-top" alt="...">

  Fire TV Stick lite | ₹2,299
    </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
      <a href="" class="latest">  <img src="{{cardLinkImg.cardLink6}}" class="card-img-top" alt="...">
        All-new Fire TV stick | ₹2,799
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink7}}" class="card-img-top" alt="...">

  Echo Dot 4th gen | ₹3,449
    </a>
      </div>
    </div>
    <a href="" class="latest">see all deals</a>
  </div>
  <!-- two card end -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 kitchen">
  <!-- two card start -->
  <h5>Up to 50% off + Extra ₹150* back | Pantry</h5>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink8}}" class="card-img-top" alt="...">

        Up to 40% off | Samsung   </a>

      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink9}}" class="card-img-top" alt="...">

  View the store
   </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
      <a href="" class="latest">  <img src="{{cardLinkImg.cardLink10}}" class="card-img-top" alt="...">
        Mobiles & Accessories
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink11}}" class="card-img-top" alt="...">

  View the store
   </a>
      </div>
    </div>
    <a href="" class="latest">see all deals</a>
  </div>
  <!-- two card end -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 kitchen">
  <!-- two card start -->
  <h5> Exchange offer up to ₹11,000 | Bestselling TVs</h5>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink12}}" class="card-img-top" alt="...">
             Clothing  </a>

      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink13}}" class="card-img-top" alt="...">

   Footwear</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
      <a href="" class="latest">  <img src="{{cardLinkImg.cardLink14}}" class="card-img-top" alt="...">
         Bags & luggage</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink15}}" class="card-img-top" alt="...">

  Watches
       </a>
      </div>
    </div>
    <a href="" class="latest">see all deals</a>
  </div>
  <!-- two card end -->
        </div>
      </div>
    </div>

  </div>



</div>

<div class="carousel">

  <h4 class="blockBuster">5th-9th Aug | Great Freedom Festival <span class="seeAllDeals"> <a href="#">see all deals</a> </span></h4>
  <p-carousel [value]="freedomFestival" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
          <h4 class="p-mb-1" style="font-size: 17px;">{{product.name}}</h4>
          <h6 class="p-mt-0 p-mb-3">{{product.price}}</h6>
          <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>

</div>

<div class="back">
  <div class="carousel container imgcardAll1">
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/vineet/Amazon-Pay-Later/Aug_2021/Aug_ART/1150X323_GW_Editorial_NCEMI_AUG._CB645564783_.jpg" alt="">

  </div>
</div>
