<div class="baby">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav baby">
          <a class="nav-link" aria-current="page">baby</a>
          <a class="nav-link" href="#">baby wish list</a>
          <a class="nav-link" href="#">bestsellers</a>
          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Diapering
            </a>
            <div
              class="dropdown-menu unavailable"
              aria-labelledby="navbarDropdown"
            >
              we are sorry, but this feature is currenty, unavailable please try
              again later
            </div>
          </li>

          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              baby care
            </a>
            <div
              class="dropdown-menu unavailable"
              aria-labelledby="navbarDropdown"
            >
              we are sorry, but this feature is currenty, unavailable please try
              again later
            </div>
          </li>

          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Feeding
            </a>
            <div
              class="dropdown-menu unavailable"
              aria-labelledby="navbarDropdown"
            >
              we are sorry, but this feature is currenty, unavailable please try
              again later
            </div>
          </li>

          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Activity & Entertainment
            </a>
            <div
              class="dropdown-menu unavailable"
              aria-labelledby="navbarDropdown"
            >
              we are sorry, but this feature is currenty, unavailable please try
              again later
            </div>
          </li>

          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Bedding, Furniture & room decor
            </a>
            <div
              class="dropdown-menu unavailable"
              aria-labelledby="navbarDropdown"
            >
              we are sorry, but this feature is currenty, unavailable please try
              again later
            </div>
          </li>

          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Potty Training
            </a>
            <div
              class="dropdown-menu unavailable"
              aria-labelledby="navbarDropdown"
            >
              we are sorry, but this feature is currenty, unavailable please try
              again later
            </div>
          </li>

          <!-- <a class="nav-link" href="#">baby wish list</a>
          <a class="nav-link" href="#">bestsellers</a> -->
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="arrival">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 activity">
        <h6>New Arrivals</h6>
        <li><a href="#">Last 30 days</a></li>
        <li><a href="#">Last 90 days</a></li>
        <br />
        <h6>Department</h6>
        <b> baby</b>
        <li><a href="#">Activity & Play Time</a></li>
        <li><a href="#">Baby Care</a></li>
        <li><a href="#">Baby Clothing</a></li>
        <li><a href="#">Baby safety</a></li>
        <li><a href="#">Baby shoes</a></li>
        <li><a href="#">Dedding furniture & room decor</a></li>
        <li><a href="#">Car Seats & Accessories</a></li>
        <li><a href="#">Carriers & Accessories</a></li>
        <li><a href="#">Diapering & Nappy</a></li>
        <li><a href="#">Changing</a></li>
        <li><a href="#">Feeding</a></li>
        <li><a href="#">Gift Packs</a></li>
        <li><a href="#">Maternity</a></li>
        <li><a href="#">Pacifiers & Teethers</a></li>
        <li><a href="#">Potty Training & Step Stools</a></li>
        <li><a href="#">Strollers, Buggies & Prams</a></li>
      </div>
      <div class="col-10">
        <!-- <h3>hii</h3> -->
      <a href="#">  <img
width="100%"
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/NEW/D32463504_header_pc_final_R1_1500x300.jpg"
          alt=""
        /> </a>


        <div class="row row-cols-1 row-cols-md-5 g-4 mt-5">
          <div class="col">
            <div class="card h-100">
             <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Set3/D32463504_Slider_tile_set_3_R2_1.jpg" class="card-img-top" alt="...">
             </a>
              <div class="card-footer">
                <small class="text-muted">Diapers & wipes
                  </small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
             <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Set3/D32463504_Slider_tile_set_3_R2_2.jpg" class="card-img-top" alt="..."></a>
              <div class="card-footer">
                <small class="text-muted"> Bath & skin Care
                  </small>
              </div>
              <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
             <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Set3/D32463504_Slider_tile_set_3_R2_4.jpg" class="card-img-top" alt="...">
             </a>
              <div class="card-footer">
                <small class="text-muted">Baby travel</small>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
             <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Set3/D32463504_Slider_tile_set_3_R2_3.jpg" class="card-img-top" alt="...">
             </a>
              <div class="card-footer">
                <small class="text-muted">Bedding & nursry</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
             <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Set3/D32463504_Slider_tile_set_3_R2_6.jpg" class="card-img-top" alt="...">
             </a>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>

<div class="diaper mt-5">
  <div class="diaper1">
  <h5>Diapers & wipes</h5>
        <div class="row row-cols-1 row-cols-md-5 g-4">
          <div class="col">
            <div class="card h-100">
            <a href="#"> <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/NEW/D32463504_Slider_tile_dipers_set_final_01._CB650685915_.jpg" class="card-img-top" alt="...">
            </a>
              <div class="card-footer">
                <small class="text-muted">Diapers & wipes
                  </small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
             <a href="#"> <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bathskincar/D32463504_Slider_tile_dipers_set_final_01_05_Beybee._CB628325514_.jpg" class="card-img-top" alt="..."></a>
              <div class="card-footer">
                <small class="text-muted"> Bath & skin Care
                  </small>
              </div>
              <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
            <a href="#">  <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/NEW/D32463504_Slider_tile_dipers_set_final_04._CB650685915_.jpg" class="card-img-top" alt="..."></a>

              <div class="card-footer">
                <small class="text-muted">Baby travel</small>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
             <a href="#"> <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/NEW/D32463504_Slider_tile_dipers_set_final_02._CB650685915_.jpg" class="card-img-top" alt="..."></a>

              <div class="card-footer">
                <small class="text-muted">Bedding & nursry</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
             <a href="#"><img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/NEW/D32463504_Slider_tile_dipers_set_final_03._CB650685912_.jpg" class="card-img-top" alt="..."></a>

              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- start -->
<div class="diaper1">
  <h5>Bath & skin care</h5>
        <div class="row row-cols-1 row-cols-md-5 g-4">
          <div class="col">
            <div class="card h-100">
            <a href="#"> <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bathskincar/D32463504_Slider_tile_bathskin_set_final_02_Sebamed._CB628325514_.jpg" class="card-img-top" alt="...">
            </a>
              <div class="card-footer">
                <small class="text-muted">Diapers & wipes
                  </small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
             <a href="#"> <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bathskincar/D32463504_Slider_tile_bathskin_set_final_02._CB648337110_.jpg" class="card-img-top" alt="..."></a>
              <div class="card-footer">
                <small class="text-muted"> Bath & skin Care
                  </small>
              </div>
              <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
            <a href="#">  <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bathskincar/D32463504_Slider_tile_bathskin_set_final_01._CB648337110_.jpg" class="card-img-top" alt="..."></a>

              <div class="card-footer">
                <small class="text-muted">Baby travel</small>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
             <a href="#"> <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bathskincar/D32463504_Slider_tile_bathskin_set_final_06._CB648337110_.jpg" class="card-img-top" alt="..."></a>

              <div class="card-footer">
                <small class="text-muted">Bedding & nursry</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
             <a href="#"><img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bathskincar/D32463504_Slider_tile_bathskin_set_final_06._CB648337110_.jpg" class="card-img-top" alt="..."></a>

              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- end -->

      </div>
      <a href="#">  <img
        width="100%"
                  src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/PrimeShoppingWeek/February/D39370445_Prime_Shopping_Deals_baby_R_1500x375.jpg"
                  alt=""
                /> </a>

                <div class="diaper1">
                  <h5>Bedding & nursery</h5>
                        <div class="row row-cols-1 row-cols-md-5 g-4">
                          <div class="col">
                            <div class="card h-100">
                            <a href="#"> <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bedding/D32463504_Slider_tile_dipers_set_final_revisions_01_01._CB648337016_.jpg" class="card-img-top" alt="...">
                            </a>
                              <div class="card-footer">
                                <small class="text-muted">Diapers & wipes
                                  </small>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                             <a href="#"> <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bedding/D32463504_Slider_tile_dipers_set_final_revisions_01_04._CB648337016_.jpg" class="card-img-top" alt="..."></a>
                              <div class="card-footer">
                                <small class="text-muted"> Bath & skin Care
                                  </small>
                              </div>
                              <!-- <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                              </div> -->
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                            <a href="#">  <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bedding/D32463504_Slider_tile_dipers_set_final_revisions_01_06._CB648337016_.jpg" class="card-img-top" alt="..."></a>

                              <div class="card-footer">
                                <small class="text-muted">Baby travel</small>
                              </div>
                            </div>
                          </div>

                          <div class="col">
                            <div class="card h-100">
                             <a href="#"> <img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/Bedding/D32463504_Slider_tile_dipers_set_final_revisions_01_02._CB648337016_.jpg" class="card-img-top" alt="..."></a>

                              <div class="card-footer">
                                <small class="text-muted">Bedding & nursry</small>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100">
                             <a href="#"><img src="https://images-na.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/NEW/2_bedding._CB628622193_.jpg" class="card-img-top" alt="..."></a>

                              <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                <!-- end -->

                <div class="diaper1">
                  <h5 class="text-center">shop by age</h5>
                        <div class="row row-cols-1 row-cols-md-5 g-0 ">
                          <div class="col">
                            <div class="card h-100 border-0">
                            <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/ShopbyAge/FinalPC/ShopByAge-Baby_pc_final_01.jpg" class="card-img-top" alt="...">
                            </a>

                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100 border-0">
                             <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/ShopbyAge/FinalPC/ShopByAge-Baby_pc_final_02.jpg" class="card-img-top" alt="..."></a>

                              <!-- <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                              </div> -->
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100 border-0">
                            <a href="#">  <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/ShopbyAge/FinalPC/ShopByAge-Baby_pc_final_03.jpg" class="card-img-top" alt="..."></a>


                            </div>
                          </div>

                          <div class="col">
                            <div class="card h-100 border-0">
                             <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/ShopbyAge/FinalPC/ShopByAge-Baby_pc_final_04.jpg" class="card-img-top" alt="..."></a>


                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100 border-0">
                             <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/ShopbyAge/FinalPC/ShopByAge-Baby_pc_final_05.jpg" class="card-img-top" alt="..."></a>


                            </div>
                          </div>
                        </div>
                      </div>
                <!-- end -->

                        <div class="row row-cols-1 row-cols-md-5 g-0 mt-3">
                          <div class="col">
                            <div class="card h-100 border-0">
                            <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/SmallTiles/D32463504_Smalltiles_1.jpg" class="card-img-top" alt="...">
                            </a>

                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100 border-0">
                             <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/SmallTiles/D32463504_Smalltiles_4_New.jpg" class="card-img-top" alt="..."></a>

                              <!-- <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                              </div> -->
                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100 border-0">
                            <a href="#">  <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/SmallTiles/D32463504_Smalltiles_3_New.jpg" class="card-img-top" alt="..."></a>


                            </div>
                          </div>

                          <div class="col">
                            <div class="card h-100 border-0">
                             <a href="#"> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/SmallTiles/D32463504_Smalltiles_5.jpg" class="card-img-top" alt="..."></a>


                            </div>
                          </div>
                          <div class="col">
                            <div class="card h-100 border-0">
                             <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/SmallTiles/D32463504_Smalltiles_2.jpg" class="card-img-top" alt="..."></a>


                            </div>

                        </div>
                      </div>
                <!-- end -->


      </div>
    </div>
  </div>
</div>
