<div class="baby">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav baby">
          <a class="nav-link" aria-current="page">baby</a>
          <a class="nav-link" href="#">baby wish list</a>
          <a class="nav-link" href="#">bestsellers</a>

          <li class="nav-item" *ngFor="let index of diapered">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ index.diaper }}
            </a>
            <div
              class="dropdown-menu unavailable"
              aria-labelledby="navbarDropdown"
            >
              {{ index.discription }}
            </div>
          </li>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="arrival">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 activity">
        <h6>New Arrivals</h6>
        <li><a href="#">Last 30 days</a></li>
        <li><a href="#">Last 90 days</a></li>
        <br />
        <h6>Department</h6>
        <b> baby</b>

        <div *ngFor="let index of activity">
          <li>
            <a href="#">{{ index.last }}</a>
          </li>
        </div>
      </div>
      <div class="col-10">
        <a href="#">
          <img
            width="100%"
            src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Baby/FNovember/BabyStore/NEW/D32463504_header_pc_final_R1_1500x300.jpg"
            alt=""
          />
        </a>

        <div class="row row-cols-1 row-cols-md-5 g-4 mt-5">
          <div class="col" *ngFor="let index of wipe">
            <div class="card h-100">
              <a href="#">
                <img src="{{ index.image }}" class="card-img-top" alt="..." />
              </a>
              <div class="card-footer">
                <small class="text-muted">{{ index.discription }}</small>
              </div>
            </div>
          </div>
        </div>

        <div class="diaper mt-5">
          <div class="diaper1">
            <h5>Diapers & wipre</h5>
            <div class="row row-cols-1 row-cols-md-5 g-2">
              <div class="col" *ngFor="let index of data">
                <div class="card h-100">
                  <a href="#">
                    <img
                      src="{{ index.image }}"
                      class="card-img-top"
                      alt="..."
                    />
                  </a>
                  <div class="card-footer">
                    <small class="text-muted">{{ index.discription }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- start -->
          <div class="diaper1">
            <h5>Bath & skin care</h5>
            <div class="row row-cols-1 row-cols-md-5 g-4">
              <div class="col" *ngFor="let bath of diaper">
                <div class="card h-100">
                  <a href="#">
                    <img
                      src="{{ bath.image }}"
                      class="card-img-top"
                      alt="..."
                    />
                  </a>
                  <div class="card-footer">
                    <small class="text-muted">{{ bath.discript }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end -->
        </div>
        <a href="#">
          <img width="100%" src="{{ babyProduct }}" alt="" />
        </a>

        <div class="diaper1">
          <h5>Bedding & nursery</h5>
          <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col" *ngFor="let bedding of bedding">
              <div class="card h-100">
                <a href="#">
                  <img
                    src="{{ bedding.image }}"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
                <div class="card-footer">
                  <small class="text-muted">{{ bedding.discription }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->

        <div class="diaper1">
          <h5 class="text-center">shop by age</h5>
          <div class="row row-cols-1 row-cols-md-5 g-0">
            <div class="col" *ngFor="let shop of shopByAge">
              <div class="card h-100 border-0">
                <a href="#">
                  <img src="{{ shop.image }}" class="card-img-top" alt="..." />
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->

        <div class="row row-cols-1 row-cols-md-5 g-0 mt-3">
          <div class="col" *ngFor="let best of bestSeller">
            <div class="card h-100 border-0">
              <a href="#">
                <img src="{{ best.image }}" class="card-img-top" alt="..." />
              </a>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
</div>
