<nav class="navbar navbar-expand-lg backColor">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">X</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Gift Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">bestSellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Birthday</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">wedding & Engagement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">By Brand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Corporate Gifting</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="cardStore">
  <h2>The Gift Cards Store | A gift of choice</h2>
  <p>
    Celebrate every occasion with your loved ones in a special way. Amazon India
    brings to you amazing <span><a href="">email gift cards</a></span> ,
    <span><a href="">gift boxes</a></span
    >, <span><a href="">greeting cards</a></span> and
    <span><a href=""> other easy gifting ideas</a></span> for every occasion
    such as <span><a href="">anniversaries</a></span> ,
    <span><a href="">birthdays</a></span
    >,
    <span><a href="">weddings, festivals and more.</a></span>
  </p>
</div>

<div class="cardsItems">
  <div class="card-group">
    <div class="card imgPadding">
     <a href="#"> <img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/PC_Halo-Tile_egc.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/PC_Halo-Tile_Phy.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
    <div class="card imgPadding">
     <a href="#"> <img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/PC_Halo-Tile_Brand.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/PC_Halo-Tile_Corp.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
  </div>
</div>

<div class="cardsItems">
  <a href="#"
    ><img
      src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/AmazonPay/Ghulak/logoDesktop.png"
      alt=""
  /></a>
  <div class="card-group">
    <div class="card imgPadding">
     <a href="#"> <img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/Shop-by_Shop-by-occasion.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/Shop-by_Shop-by-Recipient.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/Shop-by_Gift-Cards-Help-Page.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/Shop-by_Be-Aware.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
  </div>
</div>



<div class="cardsItemsPad">
  <div class="card-group">
    <div class="card imgPadding">
     <a href="#"> <img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/350x350__RGC1.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
       <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/350x350_RGC2.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/350x350_RGC2.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/G/31/NAB/GC-NAB-Template-Jupiter-21_Central.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
  </div>
</div>




<div class="karwachauth">
  <h3>Karwachauth Special</h3>
  <div class="card-group">
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/51yAalg3mFL.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/41iMVd-6MKL.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/41siBBwBOsL.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/51Tq21nRTNL.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
  </div>
</div>




<div class="birthday">
<a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/GCHPStripes/Nov/New/PC/birthday.jpg" alt=""></a>
  <div class="card-group">
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/515b3m9W5sL.jpg"
        class="card-img-top"
        alt="image not found"
      /> </a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/41IMpcpptfL.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/51dFSCohCkL.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/41Dz-aGiNDL.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/41i5JxioSQL.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
    <div class="card imgPadding">
      <a href="#"><img
        src="https://images-eu.ssl-images-amazon.com/images/I/41gPvyOkhnL.jpg"
        class="card-img-top"
        alt="image not found"
      /></a>
    </div>
  </div>
</div>




<div class="colleague">
  <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/BAU/Stripes_Colleague.jpg" alt=""></a>
    <div class="card-group">
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41YMyOfzAkL.jpg"
          class="card-img-top"
          alt="image not found"
        /> </a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/4157mnyJiKL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51SrtZqLG4L.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51ODbBoLDjL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/416V-a6G3eL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41uXQ90zbWL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
    </div>
  </div>





<div class="wedding">
  <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/GCHPStripes/Nov/New/PC/wedding.jpg" alt=""></a>
    <div class="card-group">
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51Y-cUDmwWL.jpg"
          class="card-img-top"
          alt="image not found"
        /> </a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51ltKZn8HYL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/414cDouBcAL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51+YpimjaEL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51dlMJm+cXL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41bazBui42L.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
    </div>
  </div>


  <div class="giftOpetion">
    <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/ApayLogo_2020/PC-CGC.jpg" alt=""></a>
  </div>




<div class="giftCardsBest">
  <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/GCHPStripes/Nov/New/PC/say-it.jpg" alt=""></a>
    <div class="card-group">
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41cDDkQYdLL.jpg"
          class="card-img-top"
          alt="image not found"
        /> </a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51f-GGcv5yL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41YVIb0ZbvL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41deWoUZvLL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51r1fAsGlqL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41Vk+6n9QDL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
    </div>
  </div>




<div class="giftCardsBest">
  <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/GCHPStripes/Nov/New/PC/anniv.jpg" alt=""></a>
    <div class="card-group">
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41FaaK4CWwL.jpg"
          class="card-img-top"
          alt="image not found"
        /> </a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51hySNi9osL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41GHsSLP4ZL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41WAFjBr18L.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41F1AwUztcL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/416+bh+0TUL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
    </div>
  </div>





<div class="giftCardsBest">
  <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/GCHPStripes/Nov/New/PC/just-bcoz.jpg" alt=""></a>
    <div class="card-group">
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51j+IdPsIdL.jpg"
          class="card-img-top"
          alt="image not found"
        /> </a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/519nw44LjoL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/4130mjfZWlL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41v0F1wV9BL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41TQs5ainwL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51T8DaVdvWL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
    </div>
  </div>





<div class="giftCardsBest">
  <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/GCHPStripes/Nov/New/PC/More.jpg" alt=""></a>
    <div class="card-group">
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51+tttJn-AL.jpg"
          class="card-img-top"
          alt="image not found"
        /> </a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41VGdeZtSnL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41pFfwfmADL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/418U2AWniZL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/51i56LLxfgL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/I/41eHwCqNKVL.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
    </div>
  </div>




<div class="giftCardsBest">
  <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/GCHPStripes/Nov/New/PC/delivery.jpg" alt=""></a>
    <div class="card-group">
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/RebrandingAssets/GC-050ValentinesDaycreatives1.jpg"
          class="card-img-top"
          alt="image not found"
        /> </a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/Vday18/PC/2_750x375.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/GiftCards/RebrandingAssets/GC050_Valentines-Day.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>

    </div>
  </div>




  <div class="giftOpetion">
    <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/AmazonPay/CorpGC/Banner_PC_without_Citi.jpg" alt=""></a>
  </div>




<div class="giftCardsBest">
  <a href="#"><img src="https://images-eu.ssl-images-amazon.com/images/G/31/img15/GiftCards/Sep15/ContentGrid/Latest/shopbyoccasion._V292763114_.jpg" alt=""></a>
    <div class="card-group">
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img15/GiftCards/Sep15/ContentGrid/Latest/Birthday.jpg"
          class="card-img-top"
          alt="image not found"
        /> </a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img15/GiftCards/Sep15/ContentGrid/Latest/Wedding._V292763108_.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img15/GiftCards/Sep15/ContentGrid/Latest/Love.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>
      <div class="card imgPadding">
        <a href="#"><img
          src="https://images-eu.ssl-images-amazon.com/images/G/31/img15/GiftCards/Sep15/ContentGrid/Latest/Anneversary.jpg"
          class="card-img-top"
          alt="image not found"
        /></a>
      </div>

    </div>
  </div>


  <form action="" class="understand">
<h4>Please help us understand you better.</h4>
<p >Did you find the above information helpful</p>
<div class="form-check">
<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
<label class="form-check-label" for="flexRadioDefault1">
  Yes
</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    No
  </label>

</div>
<p>what other infomation would you like to know</p>
<textarea cols="60" rows="2"></textarea>
<!-- <input class="btn btn-primary" type="submit" (click)="myfun1()"> -->
<button class="btn btn-primary" (click)="myFun()">submit</button>
</form>

