<div class="sports">

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">X</span>
    </button>
    <div class="collapse navbar-collapse sportsmen" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Sports, Fitness & Outdoors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Exercise & Fitness</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Crichet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Badminton</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cycling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Football</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Running</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Swimming </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Volleyball</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Basketball </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Table Tennis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sportswear</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</div>

<div class="fitness">
  <h3>Sports, Fitness and Outdoors</h3>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
     <p> Department</p>
<p>Sports, Fitness & Outdoors</p>
 <ul>
   <li><a href="#">Accessories</a></li>
   <li><a href="#">American Football</a></li>
   <li><a href="#">Archery</a></li>
   <li><a href="#">Badminton</a></li>
   <li><a href="#">Baseball</a></li>
   <li><a href="#">Basketball</a></li>
   <li><a href="#">Billiards</a></li>
   <li><a href="#">Bowling</a></li>
   <li><a href="#">Boxing</a></li>
   <li><a href="#">Cheerleading</a></li>
   <li><a href="#">Cricket</a></li>
   <li><a href="#">Cycling</a></li>
   <li><a href="#">Dance</a></li>
   <li><a href="#">Darts & Dartboards</a></li>
   <li><a href="#">Disc Sports</a></li>
   <li><a href="#">Equestrian Sports</a></li>
   <li><a href="#">Exercise & Fitness</a></li>
   <li><a href="#">Fan Shop</a></li>
   <li><a href="#">Field Hockey</a></li>
   <li><a href="#">Fishing</a></li>
   <li><a href="#">Football</a></li>

   <li><a href="#">Footwear</a></li>
   <li><a href="#">Golf</a></li>
   <li><a href="#">Gymnastics</a></li>
   <li><a href="#">Hunting</a></li>
   <li><a href="#">Lacrosse</a></li>
   <li><a href="#">Martial Arts</a></li>
   <li><a href="#">Netball</a></li>
   <li><a href="#">Outdoor Recreation</a></li>
   <li><a href="#">Rugby</a></li>
   <li><a href="#">Running</a></li>
   <li><a href="#">Skates, Skateboards & Scooters</a></li>
   <li><a href="#">Snooker</a></li>
   <li><a href="#">Softball</a></li>
   <li><a href="#">Sports Clothing</a></li>
   <li><a href="#">Sports Gadgets</a></li>
   <li><a href="#">Squash</a></li>
   <li><a href="#">Table Tennis</a></li>
   <li><a href="#">Team Handball</a></li>
   <li><a href="#">Tennis</a></li>

   <li><a href="#">Track & Field</a></li>
   <li><a href="#">Trophies, Medals & Awards</a></li>
   <li><a href="#">Volleyball</a></li>
   <li><a href="#">Water Sports</a></li>
   <li><a href="#">Winter Sports</a></li>
 </ul>
    </div>
    <div class="col-md-10">
     <a href="#"> <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Sports/2021/deals_pc_1500x300.gif" alt="image error">
     </a>
      <div class="row buyMore">
        <div class="col-md-6">
         <a href="#"> <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/Sports/Nov21/Bxgy/1242x450.jpg" alt="image error">
         </a>
        </div>
        <div class="col-md-6">
         <a href="#"> <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Sports/1242x450_HPSP.jpg" alt="image error">
         </a>
        </div>
      </div>

      <div class="row buyMore">
        <div class="col-md-6">
         <a href="#"> <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Sports/QC/All/1242x450GoqiiNew.jpg" alt="image error">
         </a>
        </div>
        <div class="col-md-6">
         <a href="#"><img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Sports/MainPage_BJ/1182191_in_sports_yoga_blackjack_herotator_1242x450_1_1564045065._CB1198675309_.jpg" alt="image error">
         </a>
        </div>
      </div>
     <a href="#"> <img  class="buyMore" width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/IN-hq/2021/img/Home_Private_Label/XCM_Manual_1363081_1868674_4086632_IN_in_in_privatebrands_gateway_sports_additional_in_en_1500x300_2X_en_IN.jpg" alt="image error"></a>
      <a href="#"><img  class="buyMore" width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/pic_a_sport_pc._CB488726763_.jpg" alt="image error"></a>

      <div class="row buyMore">
        <div class="col-md-3">
      <a href="#">    <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/exercise_fitness.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#">    <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/cyclimg._CB488726575_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#"> <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/cricket._CB488726572_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#"> <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/football._CB488726762_.jpg" alt="image error"></a>
        </div>
      </div>

      <div class="row buyMore">
        <div class="col-md-3">
      <a href="#">    <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/badminton._CB488726573_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#">    <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/skating._CB488726762_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#">    <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/skating._CB488726762_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#">    <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/camping_hiking._CB488726572_.jpg" alt="image error"></a>
        </div>
      </div>

      <div class="row buyMore">
        <div class="col-md-3">
      <a href="#">  <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/camping_hiking._CB488726572_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#">  <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/yoga._CB488726759_.jpg" alt="image error"></a>

        </div>
        <div class="col-md-3">
      <a href="#"> <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/swimming._CB488726756_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#"> <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/table_tennis._CB488726756_.jpg" alt="image error"></a>
        </div>
      </div>

      <div class="row buyMore">
        <div class="col-md-3">
      <a href="#"> <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/tennis._CB488726756_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#">  <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/volleyball._CB488726756_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#">    <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/Sports/sample/Hockey_621x494._CB1198675309_.jpg" alt="image error"></a>
        </div>
        <div class="col-md-3">
      <a href="#">    <img width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img17/Sports/stores/sportspage/squash._CB488726757_.jpg" alt="image error"></a>
        </div>

      </div>
      <a href="#"><img class="buyMore" width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Sports/Suunto_PC_new_2000.png" alt="image error"></a>
      <a href="#"><img class="buyMore" width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Sports/sliderMobile/PSS_1242x450.jpg" alt="image error"></a>
      <a href="#"><img class="buyMore" width="100%" src="https://images-eu.ssl-images-amazon.com/images/G/31/Sports/1500x300-Garmin.jpg" alt="image error"></a>

    </div>
  </div>
</div>
</div>
