 <!-- start header -->

 <div id="header">
  <div class="container-fluid">
    <div class="row rowAllstore">
      <div class="col-md-2">
        <a  routerLink="homePage" class="navbar-brand logo">Tinku Shop</a>
      </div>
      <div class="col-md-8">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
      </div>
      <div class="col-md-2 createStore">
        <h5>Create Your Store</h5>
      </div>
    </div>
  </div>

  <!-- navbar start -->
  <nav class="navbar navbar-expand-lg navbarManu p-0">
    <div class="container-fluid">
      <!--  -->
      <a
        class="btn btn-primary"
        data-bs-toggle="offcanvas"
        href="#offcanvasExample"
        role="button"
        aria-controls="offcanvasExample"
      >
        <span><i class="fas fa-bars"></i></span>All
      </a>

      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <h4>Trading</h4>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="bestSellers">
            <li><a href="#">Best Sellers</a></li>
            <li><a href="#">New Releases</a></li>
            <li><a href="#">Movers and Shakers</a></li>
          </ul>
          <hr>
          <h4>Digital Content And Devices</h4>
          <p-slideMenu [model]="items" effectDuration="300" easing="ease-in" [viewportHeight]="500"></p-slideMenu>

        </div>
      </div>
      <!--  -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="iconColor"> <i class="pi pi-align-justify"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 allMenuBar">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Buy Again</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Amazon Pay</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" routerLink="petSuppliers">Pet Supplies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gift Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gift Ideas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sports Fitness & Outdoors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home Improvement</a>
          </li>
        </ul>
        <!-- <a class="greatVestival" href=""> Great Freedom Festival | SHOP NOW</a> -->
      </div>
    </div>
  </nav>
  <!-- navbar end -->
</div>


 <!-- end header -->
 <router-outlet></router-outlet>


 <!-- carousel start -->
 <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" *ngFor="let carouselImg of carousel">
    <div class="carousel-item active"  data-bs-interval="10000">
      <img src="{{carouselImg.img}}" class="d-block w-100" alt="...">
     </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{{carouselImg.img1}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{carouselImg.img2}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{carouselImg.img13}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{carouselImg.img14}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{carouselImg.img15}}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{carouselImg.img16}}" class="d-block w-100" alt="...">
    </div>
    <!-- card start -->

    <!-- card end -->
  </div>
  <button class="carousel-control-prev  " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next  " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- carousel end -->

<!-- start cards image home & kitchen -->
<div class="container-fluid cardAll">
  <div class="row row-cols-1 row-cols-md-3 g-4" *ngFor=" let cardLinkImg of cardLinkAll">
    <div class="col-md-3">
      <div class="card h-100 kitchen" >
        <h5>Up to 70% off | Home & kitchen</h5>
<!-- two card start -->
<div class="row row-cols-1 row-cols-md-2 g-3">
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink}}" class="card-img-top" alt="...">
            kitchen & home appliances    </a>

    </div>
  </div>
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink1}}" class="card-img-top" alt="...">
                Home decor </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <a href="" class="latest">  <img src="{{cardLinkImg.cardLink2}}" class="card-img-top" alt="...">
          cookware & dining</a>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink3}}" class="card-img-top" alt="...">
                Sports & fitness </a>
    </div>
  </div>
  <a href="" class="latest">see all deals</a>
</div>
<!-- two card end -->
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100 kitchen">
<!-- two card start -->
<h5>Up to 45% off | Echo & Fire TV</h5>
<div class="row row-cols-1 row-cols-md-2 g-3">
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink4}}" class="card-img-top" alt="...">
      Echo Dot combo | ₹2,549
         </a>

    </div>
  </div>
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink5}}" class="card-img-top" alt="...">

Fire TV Stick lite | ₹2,299
  </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <a href="" class="latest">  <img src="{{cardLinkImg.cardLink6}}" class="card-img-top" alt="...">
      All-new Fire TV stick | ₹2,799
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink7}}" class="card-img-top" alt="...">

Echo Dot 4th gen | ₹3,449
  </a>
    </div>
  </div>
  <a href="" class="latest">see all deals</a>
</div>
<!-- two card end -->
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100 kitchen">
<!-- two card start -->
<h5>Curated for you</h5>
<div class="row row-cols-1 row-cols-md-2 g-3">
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink8}}" class="card-img-top" alt="...">

      Up to 40% off | Samsung   </a>

    </div>
  </div>
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink9}}" class="card-img-top" alt="...">

View the store
 </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <a href="" class="latest">  <img src="{{cardLinkImg.cardLink10}}" class="card-img-top" alt="...">
      Mobiles & Accessories
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink11}}" class="card-img-top" alt="...">

View the store
 </a>
    </div>
  </div>
  <a href="" class="latest">see all deals</a>
</div>
<!-- two card end -->
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100 kitchen">
<!-- two card start -->
<h5>Up to 80% off | Deals on Men's Fashion</h5>
<div class="row row-cols-1 row-cols-md-2 g-3">
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink12}}" class="card-img-top" alt="...">
           Clothing  </a>

    </div>
  </div>
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink13}}" class="card-img-top" alt="...">

 Footwear</a>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <a href="" class="latest">  <img src="{{cardLinkImg.cardLink14}}" class="card-img-top" alt="...">
       Bags & luggage</a>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <a href="" class="latest"> <img src="{{cardLinkImg.cardLink15}}" class="card-img-top" alt="...">

Watches
     </a>
    </div>
  </div>
  <a href="" class="latest">see all deals</a>
</div>
<!-- two card end -->
      </div>
    </div>
  </div>

</div>


<!-- end cards image home & kitchen -->


<!-- start block buster deal  -->


<div class="carousel">

  <h4 class="blockBuster">Blockbuster deals <span class="seeAllDeals"> <a href="#">see all deals</a> </span></h4>
  <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
          <h4 class="p-mb-1" style="font-size: 17px;">{{product.name}}</h4>
          <h6 class="p-mt-0 p-mb-3">{{product.price}}</h6>
          <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>

</div>

<div class="carousel">
  <h4 class="blockBuster"> Starting ₹399 | Supplements & multivitamins  </h4>
  <p-carousel [value]="productsData" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
          <h4 class="p-mb-1" style="font-size: 17px;">{{product.name}}</h4>
          <h6 class="p-mt-0 p-mb-3">{{product.price}}</h6>
          <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>

</div>

<div class="carousel">
  <h4 class="blockBuster">Up to 80% off | Home, kitchen & sports <span class="seeAllDeals"> <a href="">see all offers</a> </span> </h4>
  <p-carousel [value]="productsSnack" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
          <h4 class="p-mb-1" style="font-size: 17px;">{{product.name}}</h4>
          <h6 class="p-mt-0 p-mb-3">{{product.price}}</h6>
          <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>

</div>

<div class="carousel">
  <div class="container-fluid cardAll">
    <div class="row row-cols-1 row-cols-md-3 g-4" *ngFor=" let cardLinkImg of cardLink">
      <div class="col-md-3">
        <div class="card h-100 kitchen" >
          <h5>Up to 80% off | Home, kitchen & sports</h5>
  <!-- two card start -->
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink}}" class="card-img-top" alt="...">
              kitchen & home appliances    </a>

      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink1}}" class="card-img-top" alt="...">
                  Home decor </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
      <a href="" class="latest">  <img src="{{cardLinkImg.cardLink2}}" class="card-img-top" alt="...">
            cookware & dining</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink3}}" class="card-img-top" alt="...">
                  Sports & fitness </a>
      </div>
    </div>
    <a href="" class="latest">see all deals</a>
  </div>
  <!-- two card end -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 kitchen">
  <!-- two card start -->
  <h5>Up to 70% off | Latest styles for women</h5>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink4}}" class="card-img-top" alt="...">
        Echo Dot combo | ₹2,549
           </a>

      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink5}}" class="card-img-top" alt="...">

  Fire TV Stick lite | ₹2,299
    </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
      <a href="" class="latest">  <img src="{{cardLinkImg.cardLink6}}" class="card-img-top" alt="...">
        All-new Fire TV stick | ₹2,799
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink7}}" class="card-img-top" alt="...">

  Echo Dot 4th gen | ₹3,449
    </a>
      </div>
    </div>
    <a href="" class="latest">see all deals</a>
  </div>
  <!-- two card end -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 kitchen">
  <!-- two card start -->
  <h5>Up to 50% off + Extra ₹150* back | Pantry</h5>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink8}}" class="card-img-top" alt="...">

        Up to 40% off | Samsung   </a>

      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink9}}" class="card-img-top" alt="...">

  View the store
   </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
      <a href="" class="latest">  <img src="{{cardLinkImg.cardLink10}}" class="card-img-top" alt="...">
        Mobiles & Accessories
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink11}}" class="card-img-top" alt="...">

  View the store
   </a>
      </div>
    </div>
    <a href="" class="latest">see all deals</a>
  </div>
  <!-- two card end -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="card h-100 kitchen">
  <!-- two card start -->
  <h5> Exchange offer up to ₹11,000 | Bestselling TVs</h5>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink12}}" class="card-img-top" alt="...">
             Clothing  </a>

      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink13}}" class="card-img-top" alt="...">

   Footwear</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
      <a href="" class="latest">  <img src="{{cardLinkImg.cardLink14}}" class="card-img-top" alt="...">
         Bags & luggage</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
       <a href="" class="latest"> <img src="{{cardLinkImg.cardLink15}}" class="card-img-top" alt="...">

  Watches
       </a>
      </div>
    </div>
    <a href="" class="latest">see all deals</a>
  </div>
  <!-- two card end -->
        </div>
      </div>
    </div>

  </div>



</div>

<div class="carousel">

  <h4 class="blockBuster">5th-9th Aug | Great Freedom Festival <span class="seeAllDeals"> <a href="#">see all deals</a> </span></h4>
  <p-carousel [value]="freedomFestival" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
          <h4 class="p-mb-1" style="font-size: 17px;">{{product.name}}</h4>
          <h6 class="p-mt-0 p-mb-3">{{product.price}}</h6>
          <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>

</div>

<div class="back">
  <div class="carousel container imgcardAll1">
    <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img16/vineet/Amazon-Pay-Later/Aug_2021/Aug_ART/1150X323_GW_Editorial_NCEMI_AUG._CB645564783_.jpg" alt="">

  </div>
</div>


<div class="carousel">
  <h4 class="blockBuster">5th-9th Aug | Great Freedom Festival <span class="seeAllDeals"> <a href="#">see all deals</a> </span></h4>
  <p-carousel [value]="sarii" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
           <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>
</div>


<div class="carousel">

  <h4 class="blockBuster">5th-9th Aug | Great Freedom Festival <span class="seeAllDeals"> <a href="#">see all deals</a> </span></h4>
  <p-carousel [value]="exercise" styleClass="custom-carousel" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
   </ng-template>
   <ng-template let-product pTemplate="item">
     <div class="product-item">
       <div class="product-item-content">
         <div class="p-mb-3">
        </div>
        <div>
          <a href=""><img src="{{product.imgLink}}" alt=""></a>
           <div class="car-buttons p-mt-5">
            <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
            <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-carousel>

</div>



<!-- end block buster deal -->

<!-- start footer -->

<div id="footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-3">
          <div class="know">
          <h5>Get to Know us</h5>
          <ul>
            <li> <a href=""> About Us </a></li>
            <li> <a href=""> Careers </a></li>
            <li> <a href=""> Press Releases</a></li>
            <li> <a href=""> Amazon Cares</a></li>
            <li> <a href=""> Gift a Smile</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="know">

          <h5>Connect with Us</h5>
          <ul>
            <li> <a href=""> Facebook</a></li>
            <li> <a href=""> twitter</a></li>
            <li> <a href=""> Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="know">

          <h5>Make Money with Us</h5>
          <ul>
            <li> <a href=""> Sell on Amazon</a></li>
            <li> <a href=""> Sell underAmazon Accelerator</a></li>
            <li> <a href=""> Become an Affiliate</a></li>
            <li> <a href=""> Fulfilment by Amazon</a></li>
            <li> <a href=""> Advertise Your Product</a></li>
            <li> <a href=""> Amazon Pay on Merchants</a></li>

          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="know">

          <h5>Let Us Help You</h5>
          <ul>
            <li> <a href=""> COVID-19 and Amazon</a></li>
            <li> <a href=""> Your Account</a></li>
            <li> <a href=""> Returns Centre</a></li>
            <li> <a href=""> 100% Purchase Protection</a></li>
            <li> <a href=""> Amazon App Download</a></li>
            <li> <a href=""> Amazon Assistant Download</a></li>
            <li> <a href=""> Help</a></li>

        </ul>
      </div>
      </div>
<hr class="hrClass">
    </div>
  </div>
</div>
<div id="subFooter">
    <p><span><a href="#">Conditions of Use & Sale</a></span> &nbsp;&nbsp; <span><a href="#">Privacy Notice</a></span> &nbsp;&nbsp; <span><a href="#"> Interest-Based Ads</a></span> &nbsp;&nbsp; © 1996-2021, Amazon.com, Inc. or its affiliates </p>
</div>



<!-- end footer -->
