<div id="footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-3">
          <div class="know">
          <h5>Get to Know us</h5>
          <ul>
            <li> <a href=""> About Us </a></li>
            <li> <a href=""> Careers </a></li>
            <li> <a href=""> Press Releases</a></li>
            <li> <a href=""> Amazon Cares</a></li>
            <li> <a href=""> Gift a Smile</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="know">

          <h5>Connect with Us</h5>
          <ul>
            <li> <a href=""> Facebook</a></li>
            <li> <a href=""> twitter</a></li>
            <li> <a href=""> Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="know">

          <h5>Make Money with Us</h5>
          <ul>
            <li> <a href=""> Sell on Amazon</a></li>
            <li> <a href=""> Sell underAmazon Accelerator</a></li>
            <li> <a href=""> Become an Affiliate</a></li>
            <li> <a href=""> Fulfilment by Amazon</a></li>
            <li> <a href=""> Advertise Your Product</a></li>
            <li> <a href=""> Amazon Pay on Merchants</a></li>

          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="know">

          <h5>Let Us Help You</h5>
          <ul>
            <li> <a href=""> COVID-19 and Amazon</a></li>
            <li> <a href=""> Your Account</a></li>
            <li> <a href=""> Returns Centre</a></li>
            <li> <a href=""> 100% Purchase Protection</a></li>
            <li> <a href=""> Amazon App Download</a></li>
            <li> <a href=""> Amazon Assistant Download</a></li>
            <li> <a href=""> Help</a></li>

        </ul>
      </div>
      </div>
<hr class="hrClass">
    </div>
  </div>
</div>
<div id="subFooter">
    <p><span><a href="#">Conditions of Use & Sale</a></span> &nbsp;&nbsp; <span><a href="#">Privacy Notice</a></span> &nbsp;&nbsp; <span><a href="#"> Interest-Based Ads</a></span> &nbsp;&nbsp; © 1996-2021, Amazon.com, Inc. or its affiliates </p>
</div>

