<div class="headerBar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid  btn-sm headerPadding">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">X</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">pet supplies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">bestsellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Doys</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">cats</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">birds</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">small animals</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Fish & aquatics</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

</div>

<div class="cards">
<div class="container">
  <div class="row">

  <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/BAU/Refresh/Header_1500x250.jpg" alt="this image is not exist">
<h2 class="allPets">For all your pets' needs</h2>
<hr>
<div class="row row-cols-1 row-cols-md-3 ">
  <div class="col-sm-3">
    <div class="card">
     <a href=""> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/BAU/Dogs_440x460.jpg" class="card-img-top" alt="image is not show">
     </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
     <a href="">  <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/BAU/Cats_440x460.jpg" class="card-img-top" alt="image is not show">
     </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
     <a href=""> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/BAU/Birds_440x460.jpg" class="card-img-top" alt="image is not show">
     </a>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
     <a href=""> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/BAU/Fish_440x460.jpg" class="card-img-top" alt="image is not show">
     </a>
    </div>
  </div>
</div>
  </div>
</div>
</div>

<div class="cards">
  <div class="container">
    <div class="row">

  <h2 class="allPets">Curated stores for your pet</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col-sm-3">
      <div class="card">
       <a href=""> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/BAU/Refresh/pet-groominh.jpg" class="card-img-top" alt="image is not show">
       </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
       <a href="">  <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/BAU/Refresh/parent-store.jpg" class="card-img-top" alt="image is not show">
       </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
       <a href=""> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/BAU/Refresh/pet-care.jpg" class="card-img-top" alt="image is not show">
       </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
       <a href=""> <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img19/Pets/BAU/Refresh/clearance-store.jpg" class="card-img-top" alt="image is not show">
       </a>
      </div>
    </div>
  </div>
    </div>
  </div>
  </div>

  <div class="offers">
    <h3>Offers in Pet Supplies</h3>
    <nav class="navbar navbar-expand-lg  ">
      <div class="container">

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item hoverMenu" >
              <a class="nav-link " aria-current="page" routerLink="avail">   All Available  </a>
            </li>
            <li class="nav-item hoverMenu">
              <a class="nav-link" routerLink="comming">Upcomming</a>
            </li>


          </ul>
        </div>
      </div>
    </nav>
  </div>
<router-outlet></router-outlet>
